*{
    margin: 0;
    padding: 0;
}
body {
	font-family: Arial, sans-serif;
	margin: 20px;
	background-color: #f9f9f9;
}

h1, h2, h3 {
	color: #333;
	margin-bottom: 10px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

h1 {
	font-size: 36px;
	animation: fade-in 2s forwards;
}

h2 {
	font-size: 24px;
	animation: fade-in 2s forwards;
	animation-delay: 0.5s;
}

h3 {
	font-size: 18px;
	animation: fade-in 2s forwards;
	animation-delay: 1s;
}

section {
	background-color: #f7f7f7;
	padding: 20px;
	margin-bottom: 20px;
	border: 1px solid #ddd;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	animation: slide-in 2s forwards;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	margin-bottom: 10px;
	animation: fade-in 2s forwards;
	animation-delay: 1.5s;
}

@keyframes fade-in {
	0% {
		opacity: 0;
		transform: translateY(10px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slide-in {
	0% {
		transform: translateX(-100px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}
.pro{
	display: flex;
	gap: 100px;
	margin-bottom: 30px;
}
/* .frwd{
	font-size: 35px;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	box-shadow: 1px 5px 30px black;
	transition: transform 0.3s ease-out;
}
.frwd::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff; /* optional */
	/* border-radius: 100%;
	transform: translateX(-100%); hide before animation
	transition: transform 0.3s ease-out; same transition as parent
  }
  
  .frwd:hover::before {
	transform: translateX(0); slide in on hover */
  /* }  */
  
.jets{
	margin-top: 10px;
	
}
.frwd {
	font-size: 35px;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	box-shadow: 2px 7px 20px black;
	opacity: 0; /* make icon invisible initially */
	transition: opacity 0.3s ease-out; /* add transition effect */
	cursor: pointer;
  }
  
  #projects:hover .frwd {
	opacity: 1; /* make icon visible on hover */
	animation: slide-in 0.3s ease-out; /* add animation */
  }
  
  @keyframes slide-in {
	0% {
	  transform: translateX(-100%);
	}
	100% {
	  transform: translateX(0);
	}
  }
  
  